<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">String Sounds</a>
    <button class="navbar-toggler hidden-lg-up" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0 align-self-end">
        <li class="nav-item">
          <a class="nav-link active" href="/" aria-current="page">Главная<span class="visually-hidden">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products/">Товары</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/">О компании</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacts/">Контакты</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сотруднику</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="/warehouse/">Склад</a>
            <a class="dropdown-item" href="/vendors/">Поставщики</a>
            <a class="dropdown-item" href="/trades/">Сделки</a>
          </div>
        </li>
      </ul>
      <div class="ms-lg-5">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-whatsapp"></i>
        <i class="bi bi-instagram"></i>
      </div>
    </div>
  </div>
</nav>